name: run_report

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 6 * * *'

jobs:
  run_report:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: echo DATE=$(date +%s) >> $GITHUB_ENV

      - run: apt install mongo-tools

      - name: Cache
        uses: actions/cache@v3
        with:
          path: mongodump
          key: mongodump-${{ env.DATE }}
          restore-keys: |
            mongodump-

      - run: docker-compose up -d

      - run: mongorestore

      - name: Install Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'

      - run: npm i

      - run: node sync.js
        env:
          ECOBEE_CLIENT_ID: ${{ secrets.ECOBEE_CLIENT_ID }}
          ECOBEE_REFRESH_TOKEN: ${{ secrets.ECOBEE_REFRESH_TOKEN }}

      - run: node report.js
        env:
          ECOBEE_THERMOSTAT_412804727849: ${{ vars.ECOBEE_THERMOSTAT_412804727849 }}
          ECOBEE_THERMOSTAT_412804811683: ${{ vars.ECOBEE_THERMOSTAT_412804811683 }}
          ECOBEE_THERMOSTAT_412882127687: ${{ vars.ECOBEE_THERMOSTAT_412882127687 }}
          ECOBEE_THERMOSTAT_412859450837: ${{ vars.ECOBEE_THERMOSTAT_412859450837 }}
          VOLTAGE: ${{ vars.VOLTAGE }}
          PRICE_PER_KWH: ${{ vars.PRICE_PER_KWH }}

      - run: mongodump

      - name: docker-compose down
        if: always()
        run: docker-compose down

