name: run_report

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 6 * * *'

jobs:
  run_report:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: echo DATE=$(date +%s) >> $GITHUB_ENV

      - name: Install Mongo Tools
        shell: bash
        run : |
          wget -qO - https://www.mongodb.org/static/pgp/server-6.0.asc |  gpg --dearmor | sudo tee /usr/share/keyrings/mongodb.gpg > /dev/null
          echo "deb [ arch=amd64 signed-by=/usr/share/keyrings/mongodb.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
          sudo apt update
          sudo apt install mongodb-database-tools
          mongodump --version
          mongorestore --version

      - name: Cache
        uses: actions/cache@v3
        with:
          path: dump
          key: mongodump-${{ env.DATE }}
          restore-keys: |
            mongodump-

      - run: docker-compose up -d

      - name: mongorestore
        run: |
          if [ -d dump ]; then
            mongorestore
          fi

      - name: Install Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'

      - run: npm i

      - run: node sync.js
        env:
          ECOBEE_CLIENT_ID: ${{ secrets.ECOBEE_CLIENT_ID }}
          ECOBEE_REFRESH_TOKEN: ${{ secrets.ECOBEE_REFRESH_TOKEN }}

      - run: node report.js
        env:
          ECOBEE_THERMOSTAT_412804727849: ${{ vars.ECOBEE_THERMOSTAT_412804727849 }}
          ECOBEE_THERMOSTAT_412804811683: ${{ vars.ECOBEE_THERMOSTAT_412804811683 }}
          ECOBEE_THERMOSTAT_412882127687: ${{ vars.ECOBEE_THERMOSTAT_412882127687 }}
          ECOBEE_THERMOSTAT_412859450837: ${{ vars.ECOBEE_THERMOSTAT_412859450837 }}
          VOLTAGE: ${{ vars.VOLTAGE }}
          PRICE_PER_KWH: ${{ vars.PRICE_PER_KWH }}

      - run: mongodump

      - name: docker-compose down
        if: always()
        run: docker-compose down

